HelloWorldLibrary/FullName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://HelloWorldLibrary"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="FullName">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="title" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="firstName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="lastName"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>